@charset "ISO-8859-1";
.for-flex {
	display: flex;
	justify-content: center;
	background-color: #E3DCD2;
}

body { 
    margin: 0;
    background-color: #E3DCD2;
    font-family: Georgia, serif;
  }

.head {
	width: 100%;
	display: flex;
	justify-content: center;
	background-image: linear-gradient(#013328, transparent);
	height: 130px;
}

.main-content {
	margin-top: 25px;
	margin-bottom: 25px;
	width: 35%;
	text-align: center;
	background-color: #eeeeee;
}

.inp-but {
	width: 170px;
	text-align: center;
	height: 40px;
	background-color: grey;
	font-size: 1em;
	color: black;
	border-radius: 5px;
	margin-bottom: 10px;
}

.inp-but:hover {
	color: white;
	background-color: black;
	animation-name: fade;
  	animation-duration: 1s;
  	cursor: pointer;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.td-th1 {
  border-bottom: 1px solid #ddd;
}

.table1 {
	width: 400px;
	text-align: left;
	margin-left: 140px;
	margin-bottom: 25px;
}

.card {
	width: 400px;
	height: 300px;
	border: 1px solid #666161;
	margin-left: 65px;
	margin-top: 25px;
	margin-bottom: 25px;
}

.table2 {
	width: 400px;
	text-align: left;
	margin-left: 40px;
	margin-bottom: 15px;
	margin-top: 25px;
}

.tr1 {
	height: 40px;
}

.tr2 {
	height: 40px;
}

h3 {
	font-variant: small-caps;
    color: #666161;
}

p {
	font-variant: small-caps;
    color: #666161;
}

.foot {
	width: 100%;
	height: 150px;
	background-color: #100C0D;
	justify-content: center;
}

.foot-con {
	padding-top: 20px;
	color: #bcbcbc;
	text-align: center;
}

.icons1 {
	width: 2%;
	background-color: #bcbcbc;
	border: 1px solid #bcbcbc;
}

.icons2 {
	width: 2%;
	background-color: #bcbcbc;
	border: 1px solid #bcbcbc;
}

.icons3 {
	width: 2%;
	background-color: #bcbcbc;
	border: 1px solid #bcbcbc;
}

.icons4 {
	width: 2%;
	background-color: #bcbcbc;
	border: 1px solid #bcbcbc;
}

.icons1:hover {
	background-color: #E4405F;
	animation-name: fade;
  	animation-duration: 1s;
  	cursor: pointer;
  	border: 1px solid #E4405F;
}

.icons2:hover {
	background-color: #1877F2;
	animation-name: fade;
  	animation-duration: 1s;
  	cursor: pointer;
  	border: 1px solid #1877F2;
}

.icons3:hover {
	background-color: #FF0000;
	animation-name: fade;
  	animation-duration: 1s;
  	cursor: pointer;
  	border: 1px solid #FF0000;
}

.icons4:hover {
	background-color: #1DA1F2;
	animation-name: fade;
  	animation-duration: 1s;
  	cursor: pointer;
  	border: 1px solid #1DA1F2;
}